html, body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container {
    max-width: 375px;
    background-color: white;
    margin: 0 auto;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid gray;
    height: 65px;
}

header img {
    width: auto;
}

.user-avatar{
    border-radius: 50%;
}

/* USER */

.user {
    display: flex;
    height: 75px;
}

.user img {
    width: auto;
    border-radius: 50%;
    margin: 10px 10px;
}

.name-user {
    font-weight: bold;
    margin-bottom: 0;
}

.address-user {
    margin-top: 0;
}


/* POST */

/* .post {
    border-bottom: 15px solid gray;
} */

button {
    border: none;
    background-color: white;
}

button:hover {
   opacity: 50%;
}

.image-post {
    width: 100%;
    margin-bottom: 5px;
}

.icons img {
    width: 28px;
    margin: 10px;
}

.likes {
    font-weight: bold;
    margin: 0 10px;
}

.comment {
    margin: 15px 10px;
}

.bold-username {
    font-weight: bold;
}


